/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* remove default style and add box sizing*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body general style */
body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    background-color: #000;
    color: #fff;
}
span {
    color: #fdc501;
}

/* Navigation*/
#logo {
    width: 10rem;
    height: auto;
}

.list-items a {
    text-decoration: none;
    color: #fff;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list a:hover{
    color: #fdc501;
    border-bottom: #fdc501 solid 1px;
}

.list {
    list-style-type: none;
}

.list-items {
    display: inline-block;
    padding: 30px 20px;
}

/* Header and hero image*/
.hero-image {
    height: 90vh;
    width: 100%;
    background-image: url(../images/clawclaw-hero-image.avif);
    background-size: cover;
    background-position: right;
}
